@model Hitchhikers.Models.Picture

 <div class="container">
    <div class="col text-center">
      <h1>Welcome to @ViewBag.state</h1>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="row mt-5">
      @{ 
          
        foreach (var pictures in @ViewBag.DisplayPhoto)
        {
          <div class="col-sm-12 col-md-3">
            <div class="thumbnail">
              <a href="viewPicture/@pictures.PictureId"><img src="~/images/@pictures.PictName" alt="image_pic" class="photosize"></a>
              <div class="caption">
                <h3>@pictures.Description</h3>
                <p>@pictures.City, @pictures.States -by <a href="viewUser/@pictures.Uploader.Userid">@pictures.Uploader.FirstName @pictures.Uploader.LastName</a></p>
              </div>
            </div>
          </div>
        }
      }
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
          <form asp-controller="Travel" asp-action="Create" method="get">
              <button type="submit" class="btn btn-primary">Add new picture</button>
              <input type="hidden" value="CollectivePhotos" name="Page">
          </form>
      </div>
    </div>
</div>


