<div class="row">
    @{
            <div class="row">
                <img src= "~/images/@ViewBag.Pic.PictName" class="enlargepic">
            </div>
            <div class="row">
            <h4>Description:  @ViewBag.Pic.Description</h4>
            </div>
            <div class="row">
                @if( @ViewBag.Pic.City != null){
                    <h4>Location:  @ViewBag.Pic.City,  @ViewBag.Pic.States</h4>
                }else{
                    <h4>Location:  @ViewBag.Pic.States</h4>
                }
            </div>
            <div class="row">
                <h4>Visted Date:  @ViewBag.Pic.DateVisited.ToString("MMMM dd, yyyy")</h4>
            </div>
            <div class="row">
                <h4>Uploaded by: <a href=""> @ViewBag.Pic.Uploader.FirstName  @ViewBag.Pic.Uploader.LastName</a></h4>
            </div>
            foreach (var comments in @ViewBag.Comment)
            {
                <div class="row">
                    <h4><a href="">@comments.Sender.FirstName</a> @comments.CommentText</h4>
                </div>
            }
            <div class="row">
                <form action ="/comment" method ="post">
                <div class="form-group">
                    <p>
                        <label name="comment">Comments</label>
                        <textarea name="comment" class="form-control"></textarea>
                        <input type="hidden" name="photoID" value=@ViewBag.Pic.PictureId>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12"><button class="btn btn-success form-control" type="submit">Add a comment</button></div>
                </div>
            </form>
            </div>

        }
</div>